@import "src/styles/main";

.projects {
  padding: 100px 0;
  opacity: 0;

  &__items {
    display: grid;
    grid-template-columns: 310px 310px 310px;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  @media (max-width: 768px) {
    padding: 0;
  }

  @media (max-width: 1000px) {
    &__items {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 650px) {
    &__items {
      grid-template-columns: 100%;
      grid-column-gap: 0px;
    }
  }

}

.projects.fade-show .project-card-wrapper {
  opacity: 0;
  animation: 1s fadeShow forwards;
  animation-delay: 1.6s;

  &:nth-child(1) {
    animation-delay: 0.4s;
  }
  &:nth-child(2) {
    animation-delay: 0.6s;
  }
  &:nth-child(3) {
    animation-delay: 0.8s;
  }
  &:nth-child(4) {
    animation-delay: 1s;
  }
  &:nth-child(5) {
    animation-delay: 1.2s;
  }
  &:nth-child(6) {
    animation-delay: 1.4s;
  }
}
