@import 'src/styles/colors';

.open-project {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  &__substrate {
    background: rgba(47, 47, 47, 0.3);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  &__aside {
    background: $black;
    text-align: left;
    height: 100%;
    width: 500px;
    margin-left: auto;
    margin-right: 0;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }

  &__stack-list {
    padding-left: 30px;
  }

  &__stack-item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__content {
    padding: 40px;
    padding-bottom: 0;
  }

  &__top {
    margin-bottom: 76px;
  }

  &__company-name {
    font-size: 24px;
    font-family: "SFPro Semibold";
    color: $greyLight;
    margin-bottom: 3px;
  }

  &__group {
    margin-bottom: 50px;
    max-width: 270px;
    white-space: break-spaces;
  }

  &__company-description {
    font-size: 13px;
    color: $grey;
  }

  &__title {
    color: $greyLight;
    margin-bottom: 14px;
    font-size: 20px;
  }

  &__text {
    font-size: 16px;
    color: $grey;
  }

  &__controls {
    background: #112240;
    padding: 20px 40px;
    position: sticky;
    bottom: 0;
  }

  &__link-item {
    color: $grey;
    font-size: 16px;

    &:before {
      width: 100%;
      background: $grey;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__cross-button {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 40px;
    object-fit: contain;

    &:hover {
      opacity: 0.6;
    }
  }
}

.open-project-wrapper-enter-active {
  .open-project__substrate, .open-project__aside {
    animation: openProject 0.5s;
  }
  .open-project__aside {
    animation: openAsideProject 0.5s;
  }
}

.open-project-wrapper-exit-active {
  .open-project__substrate {
    animation: openProject 0.5s reverse forwards;
  }
  .open-project__aside {
    animation: openAsideProject 0.3s reverse forwards;
  }
}

@keyframes openProject {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@keyframes openAsideProject {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
}