@import "../../styles/colors";

.button {
  border: 1px solid $green;
  padding: 20px 28px;
  color: $green;
  font-size: 14px;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  transition: border 0.1s;

  &:hover {
    border: 1px solid change-color($green, $alpha:0.6);
  }
  &:active {
    border: 1px solid change-color($green, $alpha:0.8);
  }
}