@import "src/styles/colors";
@import "src/styles/main";

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 40px 0;
  justify-content: flex-end;


  &__item-index {
    color: $green;
    margin-right: 8px;
  }

  &__item-dot {
    font-family: "SFPro Semibold";
    color: $green;
  }

  &__item {
    margin-right: 8px;
    animation: 1s fadeShow forwards;

    &:nth-child(1) {
      opacity: 0;
    }
    &:nth-child(2) {
      opacity: 0;
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      opacity: 0;
      animation-delay: 0.4s;
    }
    &:nth-child(4) {
      opacity: 0;
      animation-delay: 0.6s;
    }

    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__item a {
    color: $greyLight;
    font-size: 16px;
    text-decoration: none;

    &:hover {
      opacity: 0.9;
    }
  }
}

.open-menu-button {
  display:flex;
  flex-direction:column;
  width: 46px;
  cursor:pointer;
  justify-content: flex-end;
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 10;
  display: none;

  & span{
    background: #fff;
    border-radius:10px;
    height: 4px;
    margin: 4px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
    margin-left: auto;
  }


  & span:nth-of-type(1){
    width:50%;

  }

  & span:nth-of-type(2){
    width:100%;
  }


  & span:nth-of-type(3){
    width:75%;

  }


  & input[type="checkbox"]{
    display:none;
  }


  & input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(-10px,15px)
  }


  & input[type="checkbox"]:checked ~ span:nth-of-type(2){

    transform-origin:top;
    transform:rotatez(-45deg)
  }


  & input[type="checkbox"]:checked ~ span:nth-of-type(3){

    transform-origin:bottom;
    width:50%;
    transform: translate(-2px, -5px) rotatez(45deg);

  }
}


.menu-wrapper {
  position: relative;
}

.menu-wrapper__substrate {
  background: rgba(47, 47, 47, 0.3);
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}

.menu-content-wrapper-enter-active {
  & .menu-wrapper__substrate {
      animation: 1s openMenuSubstrate forwards;
    }

  & .menu {
    animation: 0.5s openMenu forwards;
  }
}
.menu-content-wrapper-exit-active {
  & .menu-wrapper__substrate {
    animation: 1s openMenuSubstrate forwards reverse;
  }

  & .menu {
    animation: 0.5s openMenu forwards reverse;
  }
}


@keyframes openMenuSubstrate {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes openMenu {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
}

@media (max-width: 768px) {

  .open-menu-button {
    display: flex;
  }

  .menu {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 380px;
    right: 0;
    left: auto;
    background: $black;

    &__item {
      margin-right: 0;
      margin-bottom: 40px;
      font-family: 'Calibri';

      &:not(:last-child) {
        margin-right: 0;
      }

      & a {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &__item-index {
      margin-right: 0;
      margin-bottom: 5px;
      font-size: 16px;
    }
  }

  //.open-menu-button {
  //  display: block
  //}
  //
  .menu-wrapper__substrate {
    display: block;
  }
}