.workplaces {
  padding: 110px 0;
  display: flex;
  opacity: 0;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
  }

  @media (max-width: 768px)  {
    padding-top: 0;
    padding-bottom: 50px;
  }
}