@import "src/styles/colors";

.info-tabs {
  display: flex;

  &__tabs-list {
    list-style: none;
  }

  &__tabs {
    display: flex;
    height: fit-content;
  }

  &__item-btn {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    text-align: left;
    padding: 13px 17px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: $grey;
    font-size: 13px;

    &:hover {
      background: #1A273F;
    }
  }

  &__scrollbar-thumb {
    height: 42px;
    width: 2px;
    position: absolute;
    background: $green;
    transition: 0.2s;
    top: 0;
    left: 0;
  }

  &__scrollbar {
    background: #444D68;
    width: 2px;
    height: auto;
    position: relative;
  }

  &__item {
    height: 42px;
    width: 125px;
    position: relative;
    box-sizing: border-box;

    &--active .info-tabs__item-btn{
        color: $green;
        background: #112240;
    }
  }

  &__content-top {
    font-family: "SFPro Semibold";
    font-size: 22px;
    margin-bottom: 8px;
  }
  &__company-name {
    color: $greyLight;
  }
  &__company-hashtag {
    color: $green;
    margin-left: 8px;
  }

  &__content {
    margin-left: 40px;
    width: 450px;
    height: 270px;
    opacity: 0;

    animation: activateItemListActivation 0.3s forwards;
  }

  &__dates, &__description-item {
    font-size: 13px;
    margin-bottom: 20px;
    font-family: "Calibri Bold";
  }

  &__dates {
    color: $grey;
  }

  &__description-item {
    max-width: 420px;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;

    &:before {
      content: "▹";
      color: $green;
      margin-right: 16px;
      font-size: 20px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__description-list {
    list-style: none;
  }

  @media (min-width: 768px) {
    &__scrollbar-thumb {
      top: 0;
      left: 0 !important;
      height: 42px;
      z-index: 1;
    }

  }
  @media (max-width: 768px) {
    flex-direction: column;

    @at-root {
      & .container {
        width: 100%;
      }
    }


    &__tabs {
      position: relative;
      overflow-x: scroll;

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $grey;
        height: 5px;
        border-radius: 10px;
        outline: 1px solid slategrey;
      }


      &::-webkit-scrollbar {
        width: 1em;
        height: 5px;
        background: transparent;
        bottom: 10px;
      }
    }

    &__tabs-list {
      display: flex;
      padding-bottom: 20px;
      position: relative;
    }

    &__item {
      box-sizing: border-box;
      min-width: 140px;
      & button {
        text-align: center;
      }
    }

    &__scrollbar {
      width: 100%;
      position: absolute;
      bottom: 10px;
      left: 0;
      height: 2px;
      border-radius: 2px;
    }

    &__item--active &__item-btn {
      background: none;
    }

    &__scrollbar-thumb {
      width: 140px;
      height: 2px;
      z-index: 1;
      border-radius: 2px;
    }

    &__content {
      margin: 0;
      margin-top: 20px;
      width: 100%;
    }

    &__description-item{
      font-size: 16px;
      font-family: "SFPro";
    }

    &__content {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .workplaces .container {
    width: 100%;
  }
}

@keyframes activateItemListActivation {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}