@import "colors";

//----
@font-face {
  font-family: 'Calibri';
  src: url('../assets/fonts/calibri.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Calibri Bold';
  src: url('../assets/fonts/calibri_bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
//----

@font-face {
  font-family: 'SFPro';
  src: url('../assets/fonts/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'SFPro Semibold';
  src: url('../assets/fonts/SFProDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'SFPro Bold';
  src: url('../assets/fonts/SFProDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
//----

* {
  font-family: SFPro, Calibri, Avenir, Helvetica, Arial, sans-serif;
  color: $grey;
  margin: 0;
  padding: 0;
}

:root {
  font-family: SFPro, Calibri, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root,
.layout {
  height: 100%;
}

html {
  display: flex;
  flex-direction: column;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  background: $black;
}

body {
  position: relative;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
}