@import "./colors";

h1 {
  color: $greyLight;
  font-weight: 700;
  font-size: 80px;
  font-family: "SFPro Bold";
  margin-bottom: 0;
}
.h1--subrow {
  color: $grey;
}

p {
  font-family: 'Calibri';
  font-size: 20px;
  color: $grey;
}

a.link--without-underline {
  &:hover::before {
    width: 0;
  }
}

a {
  cursor: pointer;
  color: $green;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  display: inline-block;

  &:hover::before {
    width: 100%;
  }

  &:before {
    position: absolute;
    top: 100%;
    background: $green;
    height: 0.7px;
    width: 0%;
    content: "";
    transition: 0.3s;
  }
}

.fade-show {
  animation: 1s fadeShow forwards;
}

@keyframes fadeShow {
  from{
    transform: translateY(30%);
    opacity: 0;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}