@import "src/styles/colors";

.project-card {
  width: 310px;
  height: 316px;
  box-sizing: border-box;
  text-align: left;
  white-space: break-spaces;
  background: #112240;
  border: none;
  border-radius: 4px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
    align-items: center;

      & a:active {
        opacity: 0.8;
      }

      & a:hover {
        opacity: 0.7;

        &::before {
          width: 0;
        }
      }
  }

  &__company-name {
    font-family: "SFPro Semibold";
    font-size: 17px;
    color: $greyLight;
    margin-bottom: 12px;
  }

  &__description, &__stack-item {
    color: $grey;
    font-size: 13px;
  }

  &__stack-item {
    margin-right: 22px;
  }

  &__description {
    margin-bottom: 5px;
  }

  &__stack-list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  @media (max-width: 1000px) {
    width: 100%;

  }
}

.project-card-wrapper:hover {
  .project-card {
    transform: translateY(-8px);
  }
}