@import "src/styles/colors";

.about {
  padding: 144px 0;
  opacity: 0;

  &__text-part {
    width: 524px;

    p:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 165px 165px;
    color: $grey;
    font-size: 13px;
    grid-column-gap: 72px;
    list-style: none;
  }

  &__list-item:before {
    content: "▹";
    color: $green;
    margin-right: 16px;
    font-size: 20px;
  }

  &__content {
    display: flex;
  }

  &__photo-part {
    position: relative;
    margin-left: 25px;
  }

  &__dots {
    position: absolute;
    right: 0;
    top: 35px;
  }

  &__avatar-image {
    position: relative;
    z-index: 1;
  }

  @media (max-width: 768px) {
    padding: 70px 0;

    & .container {
      overflow: hidden;
    }

    & p, & a {
      font-size: 15px;
    }

    &__content {
      flex-direction: column;
    }

    &__photo-part {
      //display: none;
    }

    &__text-part {
      width: 100%;
      order: 2;
    }

    &__list {
      grid-template-columns: 30% 22%;
    }

    &__list-item {
      position: relative;
      padding-left: 25px;
      margin-bottom: 10px;

      &:before {
        margin-right: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &__photo-part {
      order: 1;
      margin-left: 0;
      transform: scale(0.9);
    }

    &__text-part p:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}