.header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(10, 25, 47, 0.85);
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
  //overflow: hidden;
  transition: 0.4s;
  z-index: 10;

  &__content {
    transition: 0.3s;
  }

  &--hide {
    transform: translateY(-100%);
  }

  @media (max-width:768px){
    & .container {
      height: 70px;
    }
  }
}

