@import "../../styles/colors";
@import "../../styles/main";

.first-block {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../../assets/images/gridFB.png");
  background-size: 110%;

  &__caption, h1, &__description, &__subtitle, &__action-btn {
    animation: 1s fadeShow forwards;
    opacity: 0;
  }


  &__caption {
    color: $green;
    font-size: 16px;
    margin-bottom: 16px;
    animation-delay: 0.6s;
  }

  h1 {
    animation-delay: 0.8s;
  }

  &__description {
    max-width: 520px;
    margin-top: 30px;
    animation-delay: 1s;
  }

  &__subtitle {
    margin-top: 16px;
    animation-delay: 1.2s;
  }

  &__action-btn {
    margin-top: 30px;
    animation-delay: 1.4s;
  }

  &__action-link:hover::before {
    width: 0;
  }

  @media (max-width: 768px) {

    &__caption {
      font-size: 13px;
    }

    h1 {
      font-size: 32px;
    }
    &__subtitle {
      margin-top: 5px;
    }

    &__description {
      font-size: 18px;
    }
  }
}