@import "src/styles/colors";

.section-title {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  &__text {
    margin-right: 60px;
    font-size: 30px;
    color: $greyLight;
  }

  &__number {
    margin-right: 20px;
    font-family: "SFPro Bold";
    font-size: 30px;
    color: $green;
  }

  &__line {
    background: $grey;
    height: 0.5px;
    flex-grow: 1;
    max-width: 300px;
  }

  @media (max-width: 768px) {
    margin-bottom: 20px;

    &__text {
      margin-right: 30px;
    }
  }
}


.section-title.section-title--without-line {
  margin-right: 0;
  justify-content: center;

  & .section-title__line {
    display: none;
  }
}