@import './src/styles/colors';
@import './src/styles/main';


.contacts.fade-show {
  .contacts__title, .contacts__text, .contacts__list, & button {
    animation: 1s fadeShow forwards;
  }

  .contacts__title {
    animation-delay: 0.4s;
  }

  .contacts__text {
    animation-delay: 0.6s;
  }

  .contacts__list {
    animation-delay: 0.8s;
  }

  button {
    animation-delay: 1s;
  }
}

.contacts {
  text-align: center;
  padding: 200px 0;
  opacity: 0;

  &__title, &__text, &__list, & button {
    opacity: 0;
  }

  &__title {
    font-family: "SFPro Bold";
    color: $greyLight;
    font-size: 60px;
    margin-bottom: 30px;
  }

  &__text {
    font-family: "Calibri";
    font-size: 20px;
    color: $grey;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 520px;
    white-space: break-spaces;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 55px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 10px;
  }

  &__item--mail {
    @at-root {
      a#{&} {
        color: $red;
        &:before {
          background: $red;
        }
      }
    }
  }

  &__item--telegram {
    @at-root {
      a#{&} {
        color: $blue;
        &:before {
          background: $blue;
        }
      }
    }
  }
  &__item--without-underline {
    @at-root {
      a#{&} {
        &:before {
          width: 0;
        }
      }
    }
  }

  &__item a {
    font-family: "Calibri";
    display: flex;
    align-items: center;

    &:before {
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    padding: 100px 20px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;

    &__title {
      font-size: 30px;
    }

    &__text {
      font-size: 16px;
      max-width: 100%;
    }

    &__list {
      flex-direction: column;
      width: 100%;
    }

    &__title, &__text, &__item:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
